/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

/*Navigation Bar*/
nav	{
	padding: 0.8rem;
	margin-bottom: .8rem;
	list-style-type: none;
	margin-top: 2rem;
	border-top: 1px solid gray;
	position: sticky;

}

nav .nav, .nav-logo .tuitt-button {
	margin: 0.5rem;
	display: inline-block;
	
	
	
}




.tuitt-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: .6rem;
	padding-top: .3rem;
	padding-bottom: .3rem;
	padding-right: .7rem;
	padding-left: .7rem;
	border-style: none;
}

nav .nav, nav .nav-logo {
    margin: 1rem;
    display: inline;
}

.right-nav {
    float: right;


}
/*Navigation Bar End*/





/*Landing Page*/
#bg-image {
	margin: 30px 60px;
	min-height: 27vh;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.front-bg {
	background-color: rgb(0, 0, 0, .45);
	min-height: 27vh;
}

.title {
	color: white;
	text-align: right;
	font-size: 1.5rem;
	line-height: 2rem;
	font-family: 'Zilla Slab';
	padding-top: 4px;
	margin-right: 5rem;

}

.subtitle {
	color: white;
	text-align: right;
	font-size: .8rem;
	line-height: 1.1rem;
	font-family: 'Zilla Slab';
	padding-top: 4px;
	padding-bottom: .1rem;
	margin-right: 5rem;
	padding-bottom: .5rem;
}

.apply-button {
	color: white;
	font-weight: bold;
	background-color: #336589;
	border-radius: 25px;
	border-style: none;
	font-size: .5rem;
	padding-top: .3rem;
	padding-bottom: .3rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	text-align: center;
	margin-right: 5rem;
	margin-top: .4rem;
	float: right;
	display: relative;
	 
}
/*Landing Page End*/






/*Intro Section*/

.title-2 {
	font-size: 1.5rem;
	line-height: 1.1rem;
	font-family: 'Zilla Slab';
	text-align: center;
	padding-top: 3rem;
}


.intro-description {
	text-align: center;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.prefooter-description {
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 1rem;
}

.book-button {
	color: white;
	font-weight: bold;
	background-color: #336589;
	border-radius: 25px;
	border-style: none;
	font-size: .5rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	text-align: center;
	margin: auto;
	position: center;
	display: flex;		
}
/*Intro Section End*/
 





/*Footer*/
footer {
 	text-align: center;
	padding-top: 7rem;
	padding-bottom: 1rem;
}
/*Footer End*/






















